* {
    box-sizing: border-box;
    font-family: 'Paytone One', sans-serif;
}


.container-full {
    display: flex;
    flex-direction: column;
    min-width: 393px;
    align-items: center;
}



.first-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to left bottom, #011d38, #06182f, #081225, #060a1d, #000114);
    flex-direction: row;
    overflow: auto;
    width: 100%;


}


.divImageFirst {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.imgFirst {
    max-width: 100%;
    min-width: 300px;
    height: auto;

}

.container-text-first {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding-left: 70px;
    padding-right: 70px;

}

.container-text-first h1 {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
}

.container-text-first p {
    color: white;
    font-size: 25px;
    margin-top: 30px;
}

/*################### Second Container ##################*/

.second-container {
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 90%;

}

.title-second-container {
    margin-top: 70px;
    margin-bottom: 70px;
}


/*################### Third Container ##################*/

.third-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.container-data {
    display: flex;
    justify-content: space-around;
    background-color: #011d38;
    width: 80%;
}

.card-data {
    padding: 30px;
}

.card-data h1 {
    color: #F33B10;
}

.card-data h3 {
    color: white;
}

.card-data p {
    color: lightgrey;
}

.vertical-line {
    border-left: 3px solid #F33B10;
    height: 250px;
    margin-top: 30px;
}


.menu {
    position: relative;
    display: flex;
}

.divLogo {
    width: 300px;
    height: 150px;
    margin-left: 150px;
    display: flex;
    border-radius: 50%;
    background-color: white;
    z-index: 9;
    overflow: hidden;
}

.logoMenu {

    object-fit: cover;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    height: 90%;
}

.acabamentoLogo {
    width: 300px;
    height: 50px;
    background-color: #F33B10;
    position: absolute;
    bottom: 0;
    z-index: -4;
    border: 2px solid #011d38;
}

.acabamentoLogo2 {
    width: 200px;
    height: 100%;
    margin-left: 260px;
    background-color: #F33B10;
    position: absolute;
    bottom: 0;
    z-index: -4;
    border: 2px solid #011d38;
}

#menuDiv {
    width: 100%;
}

.nav-link {
    margin-right: 50px;
}

.nav-link:hover {
    transform: scale(1.1);
    transition: 1s;
    background-color: #F33B10;
    border-radius: 50%;
    opacity: 0.7;
}

.card-img-top {
    height: 500px;
}

/*################### Four Container ##################*/
.fourth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to left bottom, #011d38, #06182f, #081225, #060a1d, #000114);
    flex-direction: row;
    overflow: auto;
}

.container-text-fourth {
    color: lightgrey;
}

.container-text-fourth p {
    font-size: 22px;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
}

.divImageFourth {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.imgFourth {
    width: 100%;
}

.cabecalho {
    background-color: #000114;
    display: flex;
    justify-content: space-evenly;
}

.textCabecalho1 {
    color: lightgrey;
}

.textTelefone {
    color: lightgrey;
}

/*>>>>>>>>>>>>>>>>FOOTER<<<<<<<<<<<<<<<<<<<<*/
.footer-container {
    height: 100vh;
}

.text-center {
    background-image: linear-gradient(to left bottom, #011d38, #06182f, #081225, #060a1d, #000114);
}

.text-white {
    color: white;
}



#btnWhatsApp {
    width: 150px;
}

.modal-body {
    display: flex;
    flex-direction: column;

}

#origem {
    margin-bottom: 20px;
}

#destino {
    margin-bottom: 20px;
}

#mensagem {
    margin-bottom: 20px;
}

.icone-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.iconWhatsApp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#linkWhatsAppFooter {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}



/* Estilo quando o cursor está sobre o ícone */
.icone-whatsapp:hover {
    background-color: #128c7e;
}

@media (max-width: 900px) {
    .container-text-first h1 {
        font-size: 30px;
    }

    .container-text-first {
        padding-left: 70px;
        padding-right: 70px;
    }

    .container-text-first p {
        font-size: 18px;
    }

    .container-text-fourth h1 {
        font-size: 30px;
    }

    .container-text-fourth {
        padding-left: 70px;
        padding-right: 70px;
    }

    .container-text-fourth p {
        font-size: 18px;
    }
}

@media (max-width: 580px) {
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .divLogoPai {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .divLogo {
        margin-left: 0;
    }

    .first-container {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 50px;
    }

    .third-container {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 50px;
    }

    .second-container {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .container-text-first {
        text-align: center;
    }

    .container-text-first p {
        font-size: 14px;
    }

    .fourth-container {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .container-text-fourth {
        text-align: center;
    }

    .container-text-fourth p {
        font-size: 14px;
        margin: 0;
    }

    .logoMenu {
        margin-left: 50px;
        height: 90%;
    }

    .container-data {
        flex-direction: column;
    }

    .vertical-line {
        border-left: none;
        border-bottom: 3px solid #F33B10;
        height: 0;
        width: 270px;
        margin-left: 25px;
    }

    .cabecalho {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

#card-img-ajudante{
    width: 90%;
}

.modal {
    z-index: -9999;
}