@import "tailwindcss";


html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:root {
  /* cores */
  --color-primary: #154462;
  --color-secondary: #15446280;
  --color-tertiary: #F20F0A;
  --color-neutral: #F9F9F9;

  --color-text-primary: #154462;
  --color-text-secondary: #F20F0A;

  /* fontes */
  --font-main: "Inter", sans-serif;
}
